[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "hybridModels"]
	path = hybridModels
	url = https://github.com/fernandosm/hybridmodels
	shallow = true
	registered = true
